.Onion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }
  
  .Onion img {
    animation: spin 1s linear infinite;
    max-width: 200px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }